.inputStyle {
  padding: 16px 70px 16px 8px;
  outline: none;
  border: none;
  background: rgb(230, 230, 230);
  width: 100%;
}

@media screen and (max-width: 425px) {
  .inputStyle {
    padding: 10px 70px 10px 8px;
  }
}
