@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  width: 100%;
  // background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  margin-top: 10px;
  padding: 20px;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTitle {
  width: 50%;
  margin-bottom: 20px;
  h1 {
    text-align: center;
    color: rgb(49, 49, 49);
    font-size: 2.5rem;
  }
}

.containerMain {
  width: 40%;
  min-width: 520px;

  padding: 0 0 5px 0;
  .contentForm {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 7px 16px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 10%);
      button {
        font-size: 1rem;
        //color: #111111;
        //color: #3fcab7;
        color: #f1f1f1;
        position: absolute;
        right: 0;
        padding: 16px 8px;

        //background: #3fcab7;
        // font-weight: bold;
        background: #0051de;
        border: none;
      }
    }
  }

  .contentFiltro {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    padding-right: 5px;
    margin-bottom: 20px;
  }
}

.btonFiltre {
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 10px;
    margin-top: 0;
  }
  .containerTitle {
    width: 100%;
    margin-bottom: 20px;
    h1 {
      font-size: 2rem;
    }
  }
  .containerMain {
    width: 100%;
    min-width: 0;
  }
}

@media screen and (max-width: 425px) {
  .containerMain {
    padding: 0;
    .contentForm {
      margin-bottom: 15px;
      form {
        button {
          padding: 10px 8px;
        }
      }
    }
    .contentFiltro {
      padding-right: 0;
      margin-bottom: 15px;
      justify-content: space-between;
    }
  }
  * {
    font-size: 14px;
  }
}
